source "Kconfig.zephyr"

menuconfig LED_SUBSYSTEM
    bool "LED Subsystem"

if LED_SUBSYSTEM

config APP_HEARTBEAT_PERIOD_MS
    int "LED Heartbeat Period"
    default 500
    range 0 5000

endif # LED_SUBSYSTEM